.random-location-button {
    cursor: pointer;
    margin: 12px;
    padding:  12px 24px;
    font-size: x-large;
    color: white;
    font-weight: 900;
    border: 1px solid orange;
    border-radius: 6px;
    background: orange;
}


